# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# LaTeX stuff
*.aux
*.log

# Local-use stuff
*.ps1
debug/
*.pro
*.eu3
release/moc*
EU3toV2Converter/
release/flags/
release/exclude